<%= form_for(@itinerary, html: { multipart: true } ) do |f| %>

<%= f.label :country %>
<%= f.text_field :country %>

<%= f.label "Places You Went To" %>
<%= f.text_field :locations %>

<%= f.label :trip_duration %>
<%= f.text_field :trip_duration %>

<%= f.label :budget %>
<%= f.text_field :budget %>
<span class="document" >
<%= f.file_field :document, accept: 'application/pdf' %>
</span>
<%= f.submit "Add Itinerary", class: "btn btn-primary" %>

<% end %>
