<% provide(:title," #{@itinerary.country} Guide")%>
<div class="row">
  <div class="col-md-8">
    <h1> <%= @itinerary.user_id %>'s <%= @itinerary.country%> Guide </h1>
    <div class = "preview-container">
      <div class = "preview-msg">
        <h2>This is a preview. Click download to get the full version!</h2>
      </div>

      <iframe class="itinerary-viewer" src= "<%=  pdfjs.full_path(file: "#{itinerary_path(@itinerary, format: :pdf)}") %>"
      frameborder="0">
      </iframe>
    </div>


    <div class = "review-container">
      <h2>What Travelers Thought</h2>

      <% if @itinerary.reviews.count > 0 %>
      <%= link_to "Add Your Review", new_itinerary_review_path(@itinerary, @review) %>
        <% @itinerary.reviews.each do |review| %>
        <div class = "reviews">
          <div class = "star-rating" data-score= <%= review.rating %> ></div>
          <p>
            <%= review.comment %>
          </p>

          <% if  user_is_reviewer?(review) %>
            <%= link_to "Delete", itinerary_review_path(@itinerary, review), method: 'delete', data: {confirm: "Are you sure you want to delete?"} %>
          <% end %>
          </div>
        <% end %>
      <% else %>
      <h2>There are no reviews for this itinerary. Add one now.</h2>
      <%= link_to "Add A Review", new_itinerary_review_path(@itinerary, @review),
       class: "btn-sm btn-primary", id: "review-button" %>

      <% end %>
    </div>
  </div>

  <div class= "col-md-4">
    <section>
      <h2><%= @itinerary.user.name %></h2>

      <%= render 'users/stats' %>
      <h3>Duration</h3>
      <p><%= @itinerary.trip_duration%></p>

      <h3>Budget</h3>
      <p><%= @itinerary.budget%></p>

      <h3>Cities Visited</h3>
      <p><%= @itinerary.locations%></p>

      <div class = 'star-rating' data-score = <%= avg_review(@itinerary) %> ></div>
      <p>
        <%= link_to "See All Reviews", itinerary_reviews_path(@itinerary, @review) %>
      </p>

      <% if logged_in? && current_user != @itinerary.user %>
      <% unless current_user.downloaded?(@itinerary) %>
        <%= render 'download' %>
      <% end %>
      <% else %>
      <p>
        You need to be logged in to download this.
      </p>
      <% end %>
    </section>
  </div>

</div>


<script>
$('.star-rating').raty({
  path: '/assets/',
  readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  }
});
</script>
