<% provide(:title, "Home")%>
<div class="jumbotron">
<h1>Home Page</h1>

<p> *Based on the search criteria this will take you to the country
page and list out each itinerary available in that country.</p>

<%= form_tag(itineraries_path, :method => "get", id: "itin-search", class: "form-inline") do %>


  <div class="form-group">
    <%= text_field_tag :search, params[:search], id: "country-form", placeholder: "What country do you want to visit?", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= text_field_tag :duration, params[:duration],id: "duration-form",placeholder: "How long do you want to go for?", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= text_field_tag :budget, params[:budget], placeholder: "What is your budget?", class: 'form-control' %>
  </div>
  <%= button_tag "Find Your Next Trip", class: "btn btn-default", id: "search-button", type: 'submit'%>
<% end %>

</div>

<p>------------------------------------------------------------------------ </p>

<p> Below the fold there will be brief information on what this product is and
why its of value to the visitor.</p>

<p>Sign up today to get thousands of itineraries and upload your travel
  experiences.</p>

  <%= link_to "Sign Up", signup_path , class: "btn btn-lg btn-primary" %>
