
<%= form_for [@itinerary, @review] do |f| %>
<% if @review.errors.any? %>
<div id = "error_explanation">
  <h2><%= pluralize(@review.errors.count, "error") %> found in your review.</h2>

  <ul>
    <% @review.errors.full_messages.each do |message| %>
    <li><%= message %></li>

    <% end %>
  </ul>
</div>

<% end %>

<%= f.label :rating %>
<div id= "star-rating"></div>

<%= f.label :comment %>
<%= f.text_area :comment %>

<%= f.submit "Submit Your Review", class: "btn btn-primary" %>

<% end %>
